<div class="block" id="block-text">  
  <div class="content">
    <h2 class="title">What is SourceWars?</h2>
    <div class="inner">
      <p class="first">
   	   Compete with other programmers in contests of logic, strategy and cunning.  Use any technique at your disposal...from simple algorithms to neural networks or even brute force to beat the competition and gain the glory (and financial reward) that you deserve!</p>
	   <h4><a>How does it work?</a></h4>	

	   <p>SourceWars is not unlike the software development life cycle you may already be used to. </p>
	   <ul class = "list">
	       <li>Read about our various games and contest structures</li>
	       <li>Study the game rules and APIs</li>
	       <li>Design and develop a 'bot' to play a specific game</li>
	       <li>Test and tweak</li>
	       <li>Deploy your bot to our Production environment</li>
	       <li>Enter your bot into a scheduled or ad-hoc contest</li>
	       <li>Profit</li>
	   </ul>
     
      <hr />
     <h4>From one-on-one to thousand player tourneys, SourceWars offers a variety of contest types, each with a different reward system.</h4>
 <ul class = "list">
	<li><b>Head-to-head</b> (2 bots, no distractions)</li>
	<li><b>Sit-n-Go</b> (8-10 bots, last man standing)</li>
	<li><b>Round-Robin</b> (join in anytime, leave anytime)</li>
	<li><b>Tourneys</b> (up to 2500 bots, elimination by brackets.  Last man standing.</li>
	<li><b>King of the Hill</b>  Ladder system rewarding the current top-rung placeholders.</li>
	</ul>

    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>